:root {
    --font-family: Inter, Arial, "Helvetica Neue", sans-serif;
    --logo-url: url("//cdn.openfin.co/ofbadge.png");
    --color-btn: #504cff;
    --color-btn-text: #fff;

    --color-bg: #333;
    --color-text: #f7f7f7;
    --color-box-bg: #444;
    --color-box-border: #666;

    --color-good: lightgreen;
    --color-bad: red;
}
@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: #333;
        --color-text: #f7f7f7;
        --color-box-bg: #444;
        --color-box-border: #666;

        --color-good: lightgreen;
    }
}
body {
    background: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    display:flex;
}
panel {
    margin: auto;
}
title {
    display: block;
    text-align: center;
    margin: 10px 0 30px 0;
    font-size: 20px;
    font-weight: 600;
}
content {
    display: block;
    padding: 50px 100px 25px 100px;
    border-radius: 10px;
    border: 1px solid var(--color-box-border);
    background-color: var(--color-box-bg);
}
footer {
    display: block;
    text-align: center;
    margin-top: 30px;
}
button {
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    color: var(--color-btn-text);
    background-color: var(--color-btn);
    font-size: 18px;
}
ul {
    list-style-type: none;
    background: none;
    padding:0;
    margin:0;
}
li {
    padding: 0px 0px 28px 0px;
    margin:0;
}
li.good led {
    background-color: var(--color-good)
}
li.bad led {
    background-color: var(--color-bad)
}
li span {
    margin-top: 5px;
}
led {
    border-radius: 7px;
    height: 14px;
    width: 14px;
    display: inline-block;
    margin: 10px 20px 0 0;
}
logo {
    margin: 0 auto;
    width:70px;
    height:70px;
    background-image: var(--logo-url);
    background-repeat: no-repeat;
    background-size: 240px;
    background-position-y: center;
    display: block;
}

.noshow {
    display: none;
}