 :root {
    --active-tab: #3A3A3A;
    --tab-bar-background: #262626;
    --frame-background: #121212;
    --title-bar: #000000;
    --tab-text: #FFFFFF;


    --title-bar-height: 22px;
    --corners-radius: 5px;
    --splitter-width: 4px;

    --layout-container-padding-top: 0px;
    --layout-container-padding-bottom: 5px;
    --layout-container-padding-left: 5px;
    --layout-container-padding-right: 5px;
    --layout-container-from-top: calc(var(--title-bar-height) + var(--layout-container-padding-top));


    --frame-background-color: var(--frame-background);
    --title-bar-background-color: var(--title-bar);
    --tabs-bar-background-color: var(--tab-bar-background);
    --tab-background-color: var(--frame-background);
    --tab-background-color-active: var(--active-tab);
    --tab-text-color: var(--tab-text);
    --splitter-color: var(--frame-background);
    --color-behind-views: var(--active-tab); /* only seen if there's a problem with the view */
}

body {
    height: 100%;
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0px;
    overflow: hidden;
}

#body-container {
    display:flex;
}

.left-menu {
    height: 100%;
    margin-left: -10%;
}

.left-menu ul {
    list-style: none;
    padding-inline-start: 0px;
    width: 100%;
    margin-block-start: 20px;
}

.left-menu li {
    width: 100%;
}

.left-menu button {
    width: 100%;
    padding: 0px;
    height: 40px;
    background-color: var(--active-tab);
    color: var(--tab-text);
    border-color: var(--frame-background);
}

.two-sided-container {
    transition: 0.8s;
    -webkit-transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    /* position: relative; */
    /* height: 70%; */
}
.face {
    -webkit-backface-visibility: hidden;

    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%; */
    /* display: inline-block; */
    /* min-height: 440px; */
    z-index: 1;
}
.face.back {
    -webkit-transform: rotateY(180deg);
}
.two-sided-container.flip {
    -webkit-transform: rotateY(180deg);
}

.no-csstransforms3d .face.back {
    visibility: hidden;
}
.no-csstransforms3d .flip .face {
    visibility: hidden;
}
.no-csstransforms3d .flip .face.back {
    visibility: visible;
}
