 :root {
    --active-tab: #3A3A3A;
    --tab-bar-background: #262626;
    --frame-background: #121212;
    --title-bar: #000000;
    --tab-text: #FFFFFF;


    --title-bar-height: 22px;
    --corners-radius: 5px;
    --splitter-width: 4px;

    --body-container-padding-top: 0px;
    --body-container-padding-bottom: 5px;
    --body-container-padding-left: 5px;
    --body-container-padding-right: 5px;
    --body-container-from-top: calc(var(--title-bar-height) + var(--body-container-padding-top));

    --layout-container-negative-width: 120px;

    --frame-background-color: var(--frame-background);
    --title-bar-background-color: var(--title-bar);
    --tabs-bar-background-color: var(--tab-bar-background);
    --tab-background-color: var(--frame-background);
    --tab-background-color-active: var(--active-tab);
    --tab-text-color: var(--tab-text);
    --splitter-color: var(--frame-background);
    --color-behind-views: var(--active-tab); /* only seen if there's a problem with the view */
}

body {
    height: 100%;
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0px;
    overflow: hidden;
}

#body-container {
    display:flex;
}

.left-menu ul {
    list-style: none;
    padding-inline-start: 0px;
    width: 100%;
    margin-block-start: 20px;
}

.left-menu li {
    width: 100%;
}

.left-menu button {
    width: 120px;
    padding: 4px;
    height: 40px;
    background-color: var(--active-tab);
    color: var(--tab-text);
    border-color: var(--frame-background);
}

.left-menu button:hover {
    cursor: pointer;
    background-color: var(--tab-bar-background);
}
