@import 'frame-styles.css';

:root {
    --sidebar-width: 120px;
    --layout-container-width: calc(100% - var(--layout-container-padding-left) - var(--layout-container-padding-right) - var(--sidebar-width));
}
.left-menu ul {
    list-style: none;
    padding-inline-start: 0px;
    width: 100%;
    margin-block-start: 20px;
}

.left-menu li {
    width: 100%;
}

.left-menu button {
    width: var(--sidebar-width);
    padding: 4px;
    height: 40px;
    background-color: var(--active-tab);
    color: var(--tab-text);
    border-color: var(--frame-background);
}

.left-menu button:hover {
    cursor: pointer;
    background-color: var(--tab-bar-background);
}
