html, body {
    height: 100%;
    margin: 0px;
}
.container {
    height: 100%;
    display: flex;
}

#sidebar {
    overflow: scroll;
}

form {
    display: flex;
    flex-direction: row;
}
label{
  font: 14px Arial, sans-serif;
  color:#2a2a2a;
  padding: 5px;
  text-align: center;
}

label.err{
  font-weight: bold;
  background: #EBDFDF;
  color: #DE1010;
  border: 1px solid #DE1010;
  margin: 5px;
}
input{
  width: 200px;
  height: 15px;
  padding: 5px;
  border: 1px solid #1a1a1a;
  box-shadow: inset -1px -1px 4px 1px rgba( 0, 0, 0, 0.1 );
}
